* {
  box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100vh;
    background-color:white;
    margin: 0;
    padding: 0;
}

.container {
  width: 80%;
  margin: 0 10px;
  color: #FFF;
}

.f-grow {
  flex-grow: 1;
}

.f-column {
    display: flex;
    flex-direction: column;
}

.f-row {
    display: flex;
    flex-direction: row;
}



.justify-content-center {
    justify-content: center;}

    .justify-content-space-between {
        justify-content:space-between;
}

.align-items-center {
    align-items: center;
}

#orange-header {
    background-color: blue;
    height: 41px;
}

#orange-header .container div {
    margin: 0 10px;
    font-size: 12px;
}
.nav-toggle{
  margin: 0 40px 0 0;
  font-size: 26px;
 
  display: none;
}
label{
margin:0 40px 0 0;
  font-size: 26px;
  display: none;
}
/*#toggle{
  display: none;
}*/

.hambuger{
   color: #fa4299; 
  display: block;
}


@media only screen and (max-width: 600px) {
  
  #orange-header{
    
    display: block;
  }
  label{
    display: block;
    cursor: pointer;
  }

  #menu{
    text-align: center;
    width: 100%;
   
    
    
  } 
  #menu a{
     display: block;
     cursor: pointer;
     border-bottom: 1px solid #EAEAEB;
  }

  .nav-toggle {
    display: block;
    padding: 40px 0;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 0.01em;
    top: 1em;
   z-index: 1000;
}
 
.show{
  display: block;
}
.hide{
  display: none;
}

#toggle:checked + #menu{
  display: block;
}
 /* .hamburger::before { top: 6px; }
  .hamburger::after { bottom: 6px;  */
  
}
/*@media only screen and (min-width: 600px) {
.nav-toggle{
  display: none;
}
}*/



#white-header {
    background-color: #fff;
    height: 100px;
}

#image-header {
    height: 700px;
    background-image: url("./img-header.jpg");
    background-size: 100% 100%;
}


#image-banner {
    height: 242px;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("./images/patterns.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;   
}

#image-banner h1 {
text-transform: uppercase;
font-size: 30px;
}

/*.topmenu{
margin: 0 30px 0 0;
}

.topmenu a{
  text-decoration: none;
  color: #ebeef1;
  margin: 0 10px;
  line-height: 70px;
}

#hambuger{
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
}

#toggle{
  display: none;*/



#menu {
    color: navy;
}

#menu a {
    margin: 0 10px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
}

#menu a:hover {
    color: orangered;
}
#list{
    padding: 20px 0;
    background-color:white
   
}
#list a{
    padding: 10px;
    background-color: chartreuse;
    cursor: pointer;
    border-radius: 4px;
    width: 246px;
    text-align: center;
}

    p {
      text-align: left;  
      text-indent: 30px;
    }
.text-center{
    text-align:center ;
    color: darkblue;
}

.uppercase{
    text-transform: uppercase;
}
#footer {
    margin: 0;
    position: relative;
    height: 110px;
    text-align: justify;
    padding: 3px;
    background-color:blue;
    
  }
#footer a{
    padding: 10px;
    width: 300px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    color: cornsilk;
    text-decoration: none;
}

#footer ul.container{
    margin: 0 10px;
    padding: 20px;
    font-size: 18px;
}

.footer-bottom{
color: white;
height: 50px;
text-align: center;

}
#footer ul li{
    list-style: none;
}

.f-column.container p{
    color: black;
}

#about-us-content{
    color: black!important;
}

#contact-us-content{
    color: black!important;
    width: 250;
    display: flex;
    padding: 50px;
    margin: 100px auto;
    border-radius: 30px;
  
    position: relative;
}
#contact-us-form{
    background:  #87ceeb;
    width: 50%;
    padding: 0px 30px;
}
#contact-us-details{
    width: 50%;
    padding: 0px 30px;
}
ul{
    list-style: none;
}
ul li{
    margin-bottom: 10px;
}
ul li i{
    margin-right: 5px;
}
#contact-us-content div{
    flex-grow: 1;
}
.title h2{
clear: #535274;
letter-spacing: 5px;
margin-bottom: 25px;
text-align: left;
}

.form,
.form-items{
    width: 100%;
}

.form-items .input{
width: 80%;
margin-bottom: 15px;
padding: 10px 35px;
box-sizing: border-box;
background: #ebeef1;
border: 0;
outline: none;
border-radius: 18px;
}

.form-items .input.message{
    height: 125px;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 15px;
    resize: none;
}
.btn{
    background:#827fee;
    text-align: center;
    color:#fff;
    padding: 15px;
    border-radius:45px;
    cursor: pointer;
}
.btn.fas{
    margin-left: 10px;
    font-size: 12px;
}

.form-items{
    position: relative;
}

.form-items .fas{
    position: absolute;
    top: 8px;
    left: 15px;
    color: #9a99aa;
}

.social-icons{
    display: flex;
    justify-content:center;
    margin-bottom: 20px;

}
.social-icons span{
    margin: 20px;}



    ::selection{
        background: #fa4299;
        color: #fff;
      }
      .wrapper{
        overflow: hidden;
        max-width: 390px;
        background: #fff;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
      }
      .wrapper .title-text{
        display: flex;
        width: 200%;
      }
      .wrapper .title{
        width: 50%;
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
      }
      .wrapper .slide-controls{
        position: relative;
        display: flex;
        height: 50px;
        width: 100%;
        overflow: hidden;
        margin: 30px 0 10px 0;
        justify-content: space-between;
        border: 1px solid lightgrey;
        border-radius: 5px;
      }
      .slide-controls .slide{
        height: 100%;
        width: 100%;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        line-height: 48px;
        cursor: pointer;
        z-index: 1;
        transition: all 0.6s ease;
      }
      .slide-controls label.signup{
        color: #000;
      }
      .slide-controls .slider-tab{
        position: absolute;
        height: 100%;
        width: 50%;
        left: 0;
        z-index: 0;
        border-radius: 5px;
        background: -webkit-linear-gradient(left, #a445b2, #fa4299);
        transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
      }
      input[type="radio"]{
        display: none;
      }
      #signup:checked ~ .slider-tab{
        left: 50%;
      }
      #signup:checked ~ label.signup{
        color: #fff;
        cursor: default;
        user-select: none;
      }
      #signup:checked ~ label.login{
        color: #000;
      }
      #login:checked ~ label.signup{
        color: #000;
      }
      #login:checked ~ label.login{
        cursor: default;
        user-select: none;
      }
      .wrapper .form-container{
        width: 100%;
        overflow: hidden;
      }
      .form-container .form-inner{
        display: flex;
        width: 200%;
      }
      .form-container .form-inner form{
        width: 50%;
        transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
      }
      .form-inner form .field{
        height: 50px;
        width: 100%;
        margin-top: 20px;
      }
      .form-inner form .field input{
        height: 100%;
        width: 100%;
        outline: none;
        padding-left: 15px;
        border-radius: 5px;
        border: 1px solid lightgrey;
        border-bottom-width: 2px;
        font-size: 17px;
        transition: all 0.3s ease;
      }
      .form-inner form .field input:focus{
        border-color: #fc83bb;
        /* box-shadow: inset 0 0 3px #fb6aae; */
      }
      .form-inner form .field input::placeholder{
        color: #999;
        transition: all 0.3s ease;
      }
      form .field input:focus::placeholder{
        color: #b3b3b3;
      }
      .form-inner form .pass-link{
        margin-top: 5px;
      }
      .form-inner form .signup-link{
        text-align: center;
        margin-top: 30px;
      }
      .form-inner form .pass-link a,
      .form-inner form .signup-link a{
        color: #fa4299;
        text-decoration: none;
      }
      .form-inner form .pass-link a:hover,
      .form-inner form .signup-link a:hover{
        text-decoration: underline;
      }
      form .btn{
        height: 50px;
        width: 100%;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
      }
      form .btn .btn-layer{
        height: 100%;
        width: 300%;
        position: absolute;
        left: -100%;
        background: -webkit-linear-gradient(right, #a445b2, #fa4299, #a445b2, #fa4299);
        border-radius: 5px;
        transition: all 0.4s ease;;
      }
      form .btn:hover .btn-layer{
        left: 0;
      }
      form .btn input[type="submit"]{
        height: 100%;
        width: 100%;
        z-index: 1;
        position: relative;
        background: none;
        border: none;
        color: #fff;
        padding-left: 0;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
      }

      
          
/*@media only screen and (max-width: 500px) {
  body {
    background-color: green;
  }
  label {
    display: block;
    cursor: pointer;
    width: 26px;
    float: right;
  }
}